.DS_Store
/mcp-server


_output/
.idea/
.vscode/
.docusaurus/
node_modules/

.npmrc
browser-mcp-server
!cmd/browser-mcp-server
!pkg/browser-mcp-server
npm/browser-mcp-server/README.md
npm/browser-mcp-server/LICENSE
!npm/browser-mcp-server
browser-mcp-server-darwin-amd64
!npm/browser-mcp-server-darwin-amd64/
browser-mcp-server-darwin-arm64
!npm/browser-mcp-server-darwin-arm64
browser-mcp-server-linux-amd64
!npm/browser-mcp-server-linux-amd64
browser-mcp-server-linux-arm64
!npm/browser-mcp-server-linux-arm64
browser-mcp-server-windows-amd64.exe
browser-mcp-server-windows-arm64.exe

python/.venv/
python/build/
python/dist/
python/browser_mcp_server.egg-info/
!python/browser-mcp-server
