.DS_Store
/mcp-server


_output/
.idea/
.vscode/
.docusaurus/
node_modules/

.npmrc
browsers-mcp-server
!cmd/browsers-mcp-server
!pkg/browsers-mcp-server
npm/browsers-mcp-server/README.md
npm/browsers-mcp-server/LICENSE
!npm/browsers-mcp-server
browsers-mcp-server-darwin-amd64
!npm/browsers-mcp-server-darwin-amd64/
browsers-mcp-server-darwin-arm64
!npm/browsers-mcp-server-darwin-arm64
browsers-mcp-server-linux-amd64
!npm/browsers-mcp-server-linux-amd64
browsers-mcp-server-linux-arm64
!npm/browsers-mcp-server-linux-arm64
browsers-mcp-server-windows-amd64.exe
browsers-mcp-server-windows-arm64.exe

python/.venv/
python/build/
python/dist/
python/browser_mcp_server.egg-info/
!python/browsers-mcp-server
